<footer class="footer">
  <small>
    &copy;&nbsp;<%= Time.new().year %>&nbsp;Madman Software
  </small>
  <div class="pull-right powered-by">
    Powered by: <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </div>
</footer>